body {
  min-height: 100vh;
  background: linear-gradient(#051f30, #000000);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 35px;
  height: 100%;
  transition: 0.3s;
  scrollbar-width: none;
  overflow: hidden scroll;
  background: #ffffff12;
  -ms-overflow-style: none;
  padding: 20px 20px 20px 0;
  backdrop-filter: blur(5px);
  box-shadow: 8px 0px 9px 0px #00000014;
}

.menu:hover {
  width: 260px;
}

.menu-content li {
  list-style: none;
  border-radius: 0px 50px 50px 0;
  transition: 0.3s;
  margin-bottom: 20px;
  /* padding-left: 10px; */
}

.menu-content li:hover {
  background: #0c0c0c;
}

a {
  text-decoration: none;
  color: rgb(213, 213, 213);
  display: flex;
  align-items: center;
  font-family: "calibri";
}

.material-symbols-outlined {
  padding: 10px;
  font-size: 25px;
  /* margin-right: 10px; */
  border-radius: 50%;
  background: #0c0c0c;

  /* Align icons to the left */
  justify-content: flex-start;
}

/* Hide menu names by default */
.menu-content li span:nth-child(2) {
  display: none;
}

/* Show menu names on hover */
.menu-content li:hover span:nth-child(2) {
  display: block;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.aside_avatar {
  border-radius: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  width: 35px;
  min-width: 35px;
  height: 35px;
  background: var(--sidebar-bg-user);
  color: #fff;
}
.form-container h2 {
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: calc(100% - 10px); /* Adjust for padding */
  padding: 5px;
  margin-top: 5px;
}

.form-container input.error {
  border: 1px solid red; /* Style for error state */
}

.form-container .error-message {
  color: red;
}

/* Style for the submit buttons */
.form-container .signin {
  margin-top: 10px;
  display: flex;
  justify-content: space-between; /* Adjusts button alignment */
}

.form-container .submit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.form-container .submit-button:hover {
  background-color: #45a049;
}

.form-container .signin a {
  text-decoration: none;
  color: #007bff;
}

.form-container .signin a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 20px;
}
