@import "./components/Assets/theme/dark.css";
@import "./components/Assets/theme/light.css";

#root,
body,
html {
  /* font-weight: 400; */
  height: 100%;
  overflow: auto;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}
main {
  width: 100%;
  /* padding: 20px; */
  /* height: 100%; */
}
.sidebar {
  background: var(--sidebar-bg-color);
  color: #fff;
  height: 100vh;
  width: 350px;
  transition: all 0.1s;
}
.top_section {
  display: flex;
  /* align-items: center; */
  padding: 8px 8px;
  background-color: var(--sidebar-bg-top);
  justify-content: space-between;
}
.aside_avatar {
  border-radius: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  width: 35px;
  min-width: 35px;
  height: 35px;
  background: var(--sidebar-bg-user);
  color: #fff;
}
.logo {
  font-size: 15px;
}
.bars {
  display: flex;
  font-size: 25px;
  align-items: center;
  color: var(--hamberger-text);
  /* justify-content: center; */
  /* margin-left: 7px; */
}
.link {
  display: flex;
  color: var(--kpi-text);
  padding: 0 8px;
  margin-top: 0.75rem;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  align-items: center;
  /* justify-content: center; */
  gap: 15px;
  height: 38px;
  margin-left: 7px;
  transition: all 0.1s;
}

/* .side_menu_a {
  align-items: center;
  border-radius: 0.25rem;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  height: 38px;
  /* overflow: hidden; */
/* padding: 6px; */
/* position: relative; */
/* text-decoration: none; */
/* transition: all 0.2s ease;  */
/* } */
/* .link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.1s;
} */
/* .active {
  background: lightskyblue;
  color: #000;
} */
.icon,
.link_text {
  font-size: 15px;
}
.toggleView {
  margin-left: 50px !important;
}
.theme {
  @apply text-sm tracking-wider my-1 flex items-center justify-center cursor-pointer rounded-full flex-col  ml-0 mr-3;
  width: 22px;
  height: 22px;

  &.dark {
    background: #666666;
  }
  &.blue {
    background: #27a8e0;
  }
  &.light {
    background: #cccccc !important;
  }
}
.logout {
  @apply inline-flex cursor-pointer pt-2 text-lg;
  color: var(--logout-text-color);
  svg {
    display: inline-block;
  }
}
.aside_avatar {
  &_wrap {
    @apply flex items-center;
    margin-left: 0 !important;
    padding-top: 12px;
  }
  @apply flex items-center justify-center tracking-wider rounded-sm;
  width: 38px;
  min-width: 38px;
  height: 38px;
  background: var(--sidebar-bg-user);
  color: var(--text-color);
}

.smallDisplayFlex {
  @apply hidden;
}

.aside_menus {
  z-index: 9999;
  padding: 0;

  .toggleMenu {
    @apply cursor-pointer relative;

    &_close {
      @apply cursor-pointer absolute flex rounded-full;
      right: -5px;
      top: 0;
      background: #969696;
      color: #fff;
      padding: 2px;
      visibility: hidden;
    }
  }
  &_header {
    @apply py-2.5 px-2;
    background: #0c192d;
    @media screen(md) {
      background: #16263c;
    }
  }
  &_body {
    @apply flex-1 mt-3 items-center justify-center overflow-y-auto overflow-x-hidden;
    padding: 0 8px;
  }
  &_foot {
    @apply flex items-center;
    padding: 8px 2px;
    border-top: 1px solid #16263c;
    box-shadow: 0px -2px 4px rgb(0 0 0 / 20%);

    /* background: var(--aside-menu-header-bg-color); */

    p {
      @apply whitespace-nowrap mt-0 ml-3 text-base;
      span {
        @apply text-lg;
      }
    }
  }
}

@media (min-width: 768px) {
  .aside_menus_header {
    @apply py-3 px-2;
    background: #16263c;
  }
  .aside_menus,
  .popup-content {
    background: #ffffff;
    border-right: 1px solid #6480a1;
  }
  .sectionMarginSet {
    width: calc(100% - 54px);
    margin-left: 54px;
  }
  .aside_menus,
  .aside_menus.menuClose {
    z-index: 9999;
  }
  .aside_menus.menuOpen {
    width: 300px;
  }
  .smallDisplay {
    @apply block;
  }
  .smallDisplayFlex {
    @apply flex;
  }
}

.name_overflow {
  @apply truncate pr-2;
}

.aside_menus.menuClose {
  width: 54px;
  z-index: 1000;

  .icon {
    visibility: hidden;
  }

  .mini {
    visibility: hidden;
    display: none;
  }
  .side_menu_a.active {
    /* background:var(--aside-menu-active-icon-bg-color); */
    background: #213859;
  }
}

.aside_menus.menuOpen {
  width: 100%;
  /* background: var(--aside-menu-header-bg-color); */
  .pepLogo {
    visibility: visible;
  }

  .icon {
    visibility: visible;
  }

  .mini {
    visibility: visible;
    display: block;
  }
  .toggleMenu {
    .toggleMenu_close {
      visibility: visible;
    }
    &:hover {
      .toggleMenu_close {
        background: #eb1d39;
      }
    }
  }
  .side_menu_a.active {
    background: #16263c;
  }
  .mainMenuOverlay {
    left: 300px;
  }
}

.aside_menus {
  background: #213859;
}

.aside_menus,
.popup-content {
  background-color: none;
  /* @media screen(md) { */
  background: #213859;
  border-right: 1px solid #699feb;
  /* } */
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.form-container h2 {
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: calc(100% - 10px); /* Adjust for padding */
  padding: 5px;
  margin-top: 5px;
}

.form-container input.error {
  border: 1px solid red; /* Style for error state */
}

.form-container .error-message {
  color: red;
}

/* Style for the submit buttons */
.form-container .signin {
  margin-top: 10px;
  display: flex;
  justify-content: space-between; /* Adjusts button alignment */
}

.form-container .submit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.form-container .submit-button:hover {
  background-color: #45a049;
}

.form-container .signin a {
  text-decoration: none;
  color: #007bff;
}

.form-container .signin a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
/* .top_section {
  display: flex;
  align-items: s;
  padding: 20px 15px;
} */
/* .logo {
  font-size: 30px;
} */
/* .bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
} */
/* .link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 20px;
} */
